body {
	background: url(../img/01.jpg);
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000;
	color: #cfcfcf;
}


h1 {
	font-size: 1px;
	color:#000;
}
